<form name="iform"class="form">

	<div class="form-group">
		<label for="Nombre">Nombre</label>
		<input type="text" class="form-control" name="Nombre" ng-model="dato.nombre" placeholder=" mete nombre" >
		
	</div>

	<div class="form-group">
		<label for="">Numero</label>
		<input type="number" class="form-control" name="Numero" ng-model="dato.numero" placeholder=" mete numero" >
		
	</div>
	<div class="form-group">
		<button class="btn btn-success" ng-click="add()" > listo para enviar</button>
	</div>
	
</form>